<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjz.springboot.mapper.db2.UserMapper">
	<resultMap id="UserResultMap" type="com.wjz.springboot.domain.User">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="USERNAME" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectById" parameterType="int" resultMap="UserResultMap">
		SELECT ID, USERNAME FROM CUS_USER WHERE ID = #{id }
	</select>

	<insert id="insert" parameterType="User">
		INSERT INTO CUS_USER (USERNAME, MAIN_JOB_ID) VALUES (#{name}, '1')
	</insert>
</mapper>